<template>
  <b-button-group>
    <b-button
      v-for="(item, index) in items"
      :key="index"
      @click="selectItem(item.tag)"
    >
      {{ item.caption }}
    </b-button>
  </b-button-group>
</template>

<script>
export default {
  name: "VSelector",
  data() {
    return {
      items: [
        {
          tag: "b-form-input",
          caption: "Form Input",
        },
        {
          tag: "b-form-radio",
          caption: "Form Radio",
        },
        {
          tag: "b-form-select",
          caption: "Form Select",
        },
      ],
    };
  },
  methods: {
    selectItem(tag) {
      this.$emit("select", tag);
    },
  },
};
</script>
